body {
    top: 0!important;
}

:is(
    .skiptranslate,
    span[id^="wp-translate-"]
) {
    display: none!important;

    & + style + div {
        display: none!important;
    }
}

.wp-block-wecodeart-translate {
    .form-select {
        max-width: max-content;
    }
}